@using Jagi.Mvc.Helpers
@model Jagi.Interface.PagedView
@{
    ViewBag.Title = "Patient";
}

<h2>病人列表: @ViewBag.Timer</h2>

<div ng-controller="patientsController as vm">
    <button class="btn btn-success" ng-click="vm.openEdit()" type="button" 
            icon="fa-plus-circle" style="margin-bottom: 5px;">
        新增病人
    </button>
    <div ng-view></div>
</div>

@section Scripts{
<script src="~/app/pagedGridController.js"></script>
<script src="~/app/patients/patientEditController.js"></script>
    <script src="~/app/patients/patientsController.js"></script>
    <script type="text/javascript">
        var paginationOptions = {
            pageNumber: @Model.CurrentPage,
            pageSize: @Model.PageCount,
        };

        var getPagedUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetPaged(null)))';
        var getPatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Get(0)))';
        var savePatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Save(null)))';
        var deletePatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Delete(0)))';

        window.app.constant("model", {
            'paginationOptions': paginationOptions,
            'headers': @Html.JsonFor(Model.Headers),
            'data': @Html.JsonFor(Model.Data),
            'pagedPatientsUrl': getPagedUrl,
            'getPatientUrl': getPatientUrl,
            'savePatientUrl': savePatientUrl,
            'deletePatientUrl': deletePatientUrl
        });
    </script>
}