@using Jagi.Mvc.Helpers
@model Jagi.Interface.PagedView
@{
    ViewBag.Title = "Patient";
}

<h2>病人列表: @ViewBag.Timer</h2>

<div ng-controller="patientsController as vm">
    <div ui-grid="vm.gridOptions" ui-grid-pagination class="grid"></div>
</div>

@section Scripts{
    <script src="~/app/patients/patientsController.js"></script>
    <script type="text/javascript">
        var paginationOptions = {
            pageNumber: @Model.CurrentPage,
            pageSize: @Model.PageCount,
        };

        window.app.constant("model", {
            'paginationOptions': paginationOptions,
            'headers': @Html.JsonFor(Model.Headers),
            'data': @Html.JsonFor(Model.Data)
        });
    </script>
}