@using Jagi.Mvc.Helpers
@model Jagi.Interface.PagedView
@{
    ViewBag.Title = "Patient";
}

<h2>病人列表: @ViewBag.Timer</h2>

<div ng-controller="patientsController as vm">
    <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="dateHired"
               is-open="opened" current-text="今天" clear-text="清除" close-text="關閉" />
        <span class="input-group-btn">
            <button type="button" class="btn" ng-click="opened = true" icon="fa-calendar"></button>
        </span>
    </p>
    <div ng-view></div>
</div>

@section Scripts{
<script src="~/app/pagedGridController.js"></script>
<script src="~/app/patients/patientEditController.js"></script>
    <script src="~/app/patients/patientsController.js"></script>
    <script type="text/javascript">
        var paginationOptions = {
            pageNumber: @Model.CurrentPage,
            pageSize: @Model.PageCount,
        };

        var getPagedUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetPaged(null)))';
        var getPatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Get(0)))';
        var savePatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Save(null)))';

        window.app.constant("model", {
            'paginationOptions': paginationOptions,
            'headers': @Html.JsonFor(Model.Headers),
            'data': @Html.JsonFor(Model.Data),
            'pagedPatientsUrl': getPagedUrl,
            'getPatientUrl': getPatientUrl,
            'savePatientUrl': savePatientUrl,
        });
    </script>
}