@using Jagi.Mvc.Helpers
@model Jagi.Interface.PagedView
@{
    ViewBag.Title = "Patient";
    string currentStatus = ViewBag.CurrentStatus;
    string[] countries = ViewBag.Counties as string[];
    List<SelectListItem> status = ViewBag.Status;
    Dictionary<string, Dictionary<string, string>> codes = ViewBag.Codes as Dictionary<string, Dictionary<string, string>>;
}

<h2>病人列表: @ViewBag.Timer</h2>


<div ng-controller="patientsController as vm">
    @using (Html.BeginForm("Index", "Patients", FormMethod.Get))
    {
        @Html.DropDownList("status", status,
            new { @class = "form-control col-sm-3", style = "width: 300px;", ng_model = "vm.status" })
        <button class="btn btn-primary" type="submit"
                icon="fa-filter" style="margin-bottom: 5px; margin-left: 5px">
            過濾
        </button>
        <button class="btn btn-success" ng-click="vm.openEdit()" type="button"
                icon="fa-plus-circle" style="margin-bottom: 5px;">
            新增病人
        </button>
    }
    <div ng-view></div>
</div>

@section Scripts{
    <script src="~/app/pagedGridController.js"></script>
    <script src="~/app/patients/patientEditController.js"></script>
    <script src="~/app/patients/patientsController.js"></script>
    <script type="text/javascript">
        var paginationOptions = {
            pageNumber: @Model.PageNumber,
            pageSize: @Model.PageSize,
        };

        var getPagedUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetPaged(null, null)))';
        var getPatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Get(0)))';
        var savePatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Save(null)))';
        var deletePatientUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.Delete(0)))';

        var addrZipUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetAddrByZip(null)))';
        var addrCountyUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetAddrByCounty(null)))';
        var addrRealmUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetAddrByRealm(null)))';
        var addrVillageUrl = '@(Html.BuildUrlFromExpression<PatientsController>(c => c.GetAddrByVillage(null, null,null)))';

        window.app.constant("model", {
            'paginationOptions': paginationOptions,
            'headers': @Html.JsonFor(Model.Headers),
            'data': @Html.JsonFor(Model.Data),
            // Codes for selections
            'codes': @Html.JsonFor(codes),
            'status': '@currentStatus',
            'countries': @Html.JsonFor(countries),
            // Url for CRUD of Patient
            'pagedPatientsUrl': getPagedUrl,
            'getPatientUrl': getPatientUrl,
            'savePatientUrl': savePatientUrl,
            'deletePatientUrl': deletePatientUrl,
            // Url for Processing Address
            'addrZipUrl': addrZipUrl,
            'addrCountyUrl': addrCountyUrl,
            'addrRealmUrl': addrRealmUrl,
            'addrVillageUrl': addrVillageUrl,
        });

        window.app.config(function($routeProvider){
            // Set routing for using MVC view
            $routeProvider
                .when("/", {
                    templateUrl: '/app/patients/templates/grid.html',       // 直接使用 app/ 目錄下的 html file!
                })
                .when("/edit/:id", {
                    templateUrl: '/patients/template/edit.tmp.cshtml',      // 使用 Server side TemplateController 建立
                    controller: "patientEditController",
                    controllerAs: 'vm'
                });
            //.when("", {});
        });
    </script>
}