@model JagiWebSample.Models.PatientEditView
@{
    var patient = Html.Angular().ModelFor("vm.current", new FormGroupLayout(4));
    var disabled = new RouteValueDictionary(new { disabled = "disabled" });
}

<form class="form-horizontal" name="patientEditForm" ng-show="vm.current" ng-disable="vm.dataService.saving" ng-cloak>
    <p>
        <button class="btn btn-primary" ng-click="vm.save(vm.current)" type="submit"
                prevent-default
                ng-disabled="!(patientEditForm.$dirty && patientEditForm.$valid)" icon="fa-save">
            存檔
        </button>
        <button class="btn btn-warning" ng-click="vm.cancel()" type="button"
                ng-disabled="vm.current.id === 0 ? false : !patientEditForm.$dirty " icon="fa-undo">
            取消
        </button>
        <button class="btn btn-danger deleteBtn" type="button"
                icon="fa-trash" prevent-default
                click-confirm="vm.delete(item.id)" item="vm.current">
            刪除
        </button>
    </p>
    <fieldset>
        <legend><small>基本資料</small></legend>
        <div class="row" >
            @patient.FormGroupFor(m => m.Name)
            @patient.FormGroupFor(m => m.ChartId)
            @patient.FormGroupFor(m => m.BirthDate)
        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.IdCard)
            @patient.FormGroupFor(m => m.IsForeign)
        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.CureDoc)
            @patient.FormGroupFor(m => m.BeginDate)

        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.Code, formGroupGrid: 4)
            @patient.FormGroupFor(m => m.Status, attrs: new { ng_disable = "vm.current.id > 0" }, formGroupGrid: 6)
        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.Idiopa, formGroupGrid: 6)
            @patient.FormGroupFor(m => m.Idiopathy, formGroupGrid: 6)
        </div>
    </fieldset>
    <fieldset>
        <legend><small>其他</small></legend>
        <div class="row">
            @patient.FormGroupFor(m => m.Type)
            @patient.FormGroupFor(m => m.Sex)
            @patient.FormGroupFor(m => m.Marry)
        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.Ab)
            @patient.FormGroupFor(m => m.Educate)
            @patient.FormGroupFor(m => m.Vocation)
        </div>
    </fieldset>
    <fieldset>
        <legend><small>聯絡方式</small></legend>
        <div class="row">
            @patient.FormGroupFor(m => m.MobileNo)
            @patient.FormGroupFor(m => m.Telno)
            
                @*Test for dropdownCascadeDirective

                <h3>{{vm.current.idiopathy}}</h3>
                <select ng-model="vm.current.idiopathy" dropdown-cascade="vm.current.idiopa"
                        cascade-options="codedetailidiopathy" name="Idiopathy"
                        ng-options="k as v for (k,v) in codedetailidiopathy"></select>*@

        </div>
        <div class="row">
            @patient.FormGroupFor(m => m.Mailno, new { ng_blur = "vm.changeZip(vm.current.mailno)", ng_model_options = "{ updateOn: 'blur', debounce:0 }" })
            <div class="form-group col-sm-4">
                <label class="control-label col-sm-6">縣市</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="vm.current.county" ng-options="item for item in vm.countries"
                            ng-change="vm.changeCounty(vm.current.county)"></select>
                </div>
            </div>
            <div class="form-group col-sm-4">
                <label class="control-label col-sm-6">鄉鎮</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="vm.current.realm" ng-options="item for item in vm.realms"
                            ng-change="vm.changeRealm(vm.current.realm)"></select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4">
                <label class="control-label col-sm-6">區</label>
                <div class="col-sm-6">
                    <select class="form-control" ng-model="vm.current.village" ng-options="item for item in vm.villages"
                            ng-change="vm.changeVillage(vm.current.village)"></select>
                </div>
            </div>
            @patient.FormGroupFor(m => m.Street, 6)
        </div>
    </fieldset>
</form>
