@model JagiWebSample.Models.PatientEditView
@{
    var patient = Html.Angular().ModelFor("vm.current", new FormGroupLayout(4));
    var disabled = new RouteValueDictionary(new { disabled = "disabled" });
}

<form class="form-horizontal" name="patientEditForm" ng-show="vm.current" ng-disable="vm.dataService.saving" ng-cloak>
    <p>
        <button class="btn btn-primary" ng-click="vm.save(vm.current)" type="submit"
                prevent-default
                ng-disabled="!(patientEditForm.$dirty && patientEditForm.$valid)" icon="fa-save">
            存檔
        </button>
        <button class="btn btn-warning" ng-click="vm.cancel()" type="button"
                ng-disabled="vm.current.id === 0 ? false : !patientEditForm.$dirty " icon="fa-undo">
            取消
        </button>
        <button class="btn btn-danger deleteBtn" type="button"
                icon="fa-trash" prevent-default
                click-confirm="vm.delete(item.id)" item="vm.current">
            刪除
        </button>
    </p>
    <div class="row">
        @patient.FormGroupFor(m => m.Name)
        @patient.FormGroupFor(m => m.ChartId)
        @patient.FormGroupFor(m => m.IdCard)
    </div>
    <div class="row">
        @patient.FormGroupFor(m => m.BirthDate)
        @patient.FormGroupFor(m => m.CureDoc)
        @patient.FormGroupFor(m => m.BeginDate)
    </div>
    <div class="row">
        @patient.FormGroupFor(m => m.Code, formGroupGrid: 4)
        @patient.FormGroupFor(m => m.Status, attrs: new { disabled = "disabled" }, formGroupGrid: 6)
    </div>
    <div class="row">
        @patient.FormGroupFor(m => m.Idiopa, formGroupGrid: 6)
        @patient.FormGroupFor(m => m.Idiopathy, formGroupGrid: 6)
    </div>
    <div class="row">
        @patient.FormGroupFor(m => m.Type)
        @patient.FormGroupFor(m => m.Sex)
        @patient.FormGroupFor(m => m.Marry)
    </div>
    <div class="row">
        @patient.FormGroupFor(m => m.Ab)
        @patient.FormGroupFor(m => m.Educate)
        @patient.FormGroupFor(m => m.Vocation)
    </div>
</form>
