@model JagiWebSample.Areas.Admin.Models.TableSchemaGroupView

@{
    ViewBag.Title = "資料表格顯示定義";
    ViewBag.Name = "Schema";
    string createUrl = Html.BuildUrlFromExpression<ColumnsController>(c => c.Create());
    var schemaGroup = Html.Angular().ModelFor("vm");
    var editUrl = Html.BuildUrlFromExpression<ColumnsController>(c => c.Edit(0));
}

<h2>資料表格顯示定義</h2>

<div class="button-block">
    <a class="btn btn-success" href="@createUrl" icon="fa-plus-circle">新增欄位</a>
</div>

<div ng-controller="schemaController as vm" wait-modal>
    <div class="row form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">選擇資料表格</label>
            <div class="col-md-9">
                <select ng-model="tableName" ng-options='value for value in vm.tableNames'
                        class="form-control"
                        ng-change="vm.change(tableName)"></select>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.ColumnName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.DisplayName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.DataType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.DataTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.DropdwonKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.Nullable)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Schema.StringMaxLength)
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vm.list">
                <td>
                    <a href="@editUrl{{item.id}}">{{item.columnName}}</a>
                </td>
                <td>
                    {{item.displayName}}
                </td>
                <td>
                    {{item.dataType}}
                </td>
                <td>
                    {{item.dataTypeName}}
                </td>
                <td>
                    {{item.dropdwonKey}}
                </td>
                <td>
                    <input type="checkbox" ng-checked="item.nullable" disabled />
                </td>
                <td>
                    {{item.stringMaxLength}}
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script src="~/app/adminSchema/schemaController.js"></script>
    <script type="text/javascript">
        var getListUrl = '@(Html.BuildUrlFromExpression<ColumnsController>(c => c.GetList(null)))';
        window.app.constant("model", {
            'tableName': @Html.JsonFor(Model.TableName),
            'tableNames': @Html.JsonFor(Model.TableNames),
            'listUrl': getListUrl
        });
</script>
}
