<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jagi Library Sample Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/MvcMembership.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("~/Areas/Admin/Views/Shared/_TopBar.cshtml")

    <div class="container body-content" ng-app="app">
        <div ng-controller="layoutController as vm" wait-modal>
            <show-errors model-status="vm.modelStatus"></show-errors>
        </div>
        <div class="alert alert-container"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script type="text/javascript">
        window.serverVariables = {};
        (function (sv) {
            var rootPath;
            sv.rootPath = rootPath;
        }(window.serverVariables));
        serverVariables.rootPath = '@Url.Content("~")';
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/app")
    @Html.Partial("_Alerts")        @* 搭配 AlertExtension 使用 TempData *@
    @RenderSection("scripts", required: false)
</body>
</html>