@model JagiWebSample.Areas.Admin.Models.CodeFilesEditView

@{
    var code = Html.Angular().ModelFor("vm.current", new FormGroupLayout(5, 7, 4));
}
<h3>代碼檔編輯<i class="fa fa-spinner fa-spin" ng-show="vm.modelStatus.isLoading" style="color:green"></i></h3>
<form class="form-horizontal angular-input-form" name="codeFileForm" ng-show="vm.current"
      ng-disabled="vm.saving" validation-name="{{vm.validationName}}" ng-cloak>
    <p>
        <button class="btn btn-primary" ng-click="vm.save(vm.current)" prevent-default
                ng-disabled="!codeFileForm.$dirty" icon="fa-save">
            存檔
        </button>
        <button class="btn btn-warning" ng-click="vm.cancel()"
                ng-disabled="vm.current.id === 0 ? false : !codeFileForm.$dirty " icon="fa-undo">
            取消
        </button>
        <button class="btn btn-success" ng-click="vm.create()" ng-disabled="vm.current.id === 0"
                icon="fa-plus-circle">
            新增
        </button>
        <button class="btn btn-danger deleteBtn"
                icon="fa-trash" prevent-default
                click-confirm="vm.delete(item)" item="vm.current">
            刪除
        </button>
    </p>
    <div class="row">
        @code.FormGroupFor(m => m.ItemType)
        @code.FormGroupFor(m => m.TypeName)
        @code.FormGroupFor(m => m.Desc)
    </div>
    <div class="row">
        @code.FormGroupFor(m => m.ParentType)
        @code.FormGroupFor(m => m.ParentCode)
        @code.FormGroupFor(m => m.CharNumber)
    </div>
</form>

<table class="table table-condensed table-hover" ng-show="vm.current.Id !== 0">
    <tr>
        <th>
            代碼
        </th>
        <th>
            代碼名稱
        </th>
        <th>
            <button class="btn btn-success" ng-click="vm.detail()" icon="fa-plus-circle">
                新增代碼
            </button>
        </th>
    </tr>
    <tbody ng-cloak>
        <tr data-ng-repeat="item in vm.details">
            <td>{{item.itemCode}}</td>
            <td>{{item.desc}}</td>
            <td>
                <button class="btn btn-info" ng-click="vm.detail(item)" icon="fa-edit">
                    編輯
                </button>
                <button class="btn btn-danger" icon="fa-trash"
                        click-confirm="vm.deleteDetail(item)"
                        confirm-message="確定要刪除這筆 code detail 的資料嗎？"
                         item="item">
                    刪除
                </button>
            </td>
        </tr>
    </tbody>
</table>