@model JagiWebSample.Areas.Admin.Models.CodeFilesEditView

@{
    var code = Html.Angular().ModelFor("vm.current", new FormGroupLayout(5, 7, 4));
}

<h3>代碼檔編輯<i class="fa fa-spinner fa-spin" ng-show="vm.saving" style="color:green"></i></h3>
<form class="form-horizontal angular-input-form" name="codeFileForm" ng-show="vm.current" ng-disabled="vm.saving" ng-cloak>
    <p>
        <button class="btn btn-primary" ng-click="vm.save(vm.current)"
                ng-disabled="!(codeFileForm.$dirty && codeFileForm.$valid)">
            存檔 <span class="glyphicon glyphicon-save"></span>
        </button>
        <button class="btn btn-warning" ng-click="vm.cancel()" ng-disabled="!codeFileForm.$dirty">
            取消 <span class="glyphicon glyphicon-export"></span>
        </button>
        <button class="btn btn-success" ng-click="vm.create()" ng-disabled="vm.current.Id === 0">
            新增 <span class="glyphicon glyphicon-open"></span>
        </button>
        <button class="btn btn-danger DeleteBtn" ng-click="vm.delete(vm.current)">
            刪除 <span class="glyphicon glyphicon-trash"></span>
        </button>
    </p>

    <div class="row">
        @code.FormGroupFor(m => m.ItemType)
        @code.FormGroupFor(m => m.TypeName)
        @code.FormGroupFor(m => m.Desc)
    </div>
    <div class="row">
        @code.FormGroupFor(m => m.ParentType)
        @code.FormGroupFor(m => m.ParentCode)
        @code.FormGroupFor(m => m.CharNumber)
    </div>
</form>

<table class="table table-condensed table-hover" ng-show="vm.current.Id !== 0">
    <tr>
        <th>
            代碼
        </th>
        <th>
            代碼名稱
        </th>
        <th>
            <button class="btn btn-success" ng-click="editDetail()" data-toggle="modal" data-target="#detailModal">新增代碼</button>
        </th>
    </tr>
    <tbody ng-cloak>
        <tr data-ng-repeat="item in details">
            <td>{{item.ItemCode}}</td>
            <td>{{item.Desc}}</td>
            <td>
                <button class="btn btn-info" ng-click="editDetail(item)" data-toggle="modal" data-target="#detailModal">編輯</button>
                <button class="btn btn-danger DeleteBtn" ng-click="deleteDetail(item)">刪除</button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="cancelDetail()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="detailModalLabel">編輯代碼資料</h4>
            </div>
            <div class="modal-body">
                <form class="angular-input-form" name="codeDetailForm">
                    <div class="form-group">
                        <label>代碼</label>
                        <input type="text" class="form-control" ng-model="detail.ItemCode"
                               name="detail_ItemCode" ng-maxlength="8" required />
                        <span class="text-danger" ng-show="codeDetailForm.detail_ItemCode.$dirty
                      && codeDetailForm.detail_ItemCode.$error.required">
                            Required!
                        </span>
                        <span class="text-danger" ng-show="codeDetailForm.detail_ItemCode.$dirty
                      && codeDetailForm.detail_ItemCode.$error.maxlength">
                            超過最大長度 8 個字
                        </span>
                    </div>
                    <div class="form-group">
                        <label>代碼名稱</label>
                        <input type="text" class="form-control" ng-model="detail.Desc" required />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" data-dismiss="modal" ng-click="cancelDetail()">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="saveDetail(detail)"
                        ng-disabled="!(codeDetailForm.$dirty && codeDetailForm.$valid)">
                    存檔
                </button>
            </div>
        </div>
    </div>
</div>