@model JagiWebSample.Areas.Admin.Models.CodeFilesEditView

@{
    var code = Html.Angular().ModelFor("vm.current", new FormGroupLayout(5, 7, 4));
}

<h3>代碼檔編輯<i class="fa fa-spinner fa-spin" ng-show="vm.saving" style="color:green"></i></h3>
<form class="form-horizontal angular-input-form" name="codeFileForm" ng-show="vm.current"
      ng-disabled="vm.saving" ng-cloak>
    <p>
        <button class="btn btn-primary" ng-click="vm.save(vm.current)" prevent-default
                ng-disabled="!(codeFileForm.$dirty && codeFileForm.$valid)" icon="fa-save"> 
            存檔 <span class="glyphicon glyphicon-save"></span>
        </button>
        <button class="btn btn-warning" ng-click="vm.cancel()" 
                ng-disabled="!codeFileForm.$dirty" icon-left="fa-undo">
            取消 
        </button>
        <button class="btn btn-success" ng-click="vm.create()" ng-disabled="vm.current.Id === 0">
            新增 <span class="glyphicon glyphicon-open"></span>
        </button>
        <button class="btn btn-danger DeleteBtn" ng-click="vm.delete(vm.current)">
            刪除 <span class="glyphicon glyphicon-trash"></span>
        </button>
    </p>

    <div class="row">
        @code.FormGroupFor(m => m.ItemType)
        @code.FormGroupFor(m => m.TypeName)
        @code.FormGroupFor(m => m.Desc)
    </div>
    <div class="row">
        @code.FormGroupFor(m => m.ParentType)
        @code.FormGroupFor(m => m.ParentCode)
        @code.FormGroupFor(m => m.CharNumber)
    </div>
</form>

<table class="table table-condensed table-hover" ng-show="vm.current.Id !== 0">
    <tr>
        <th>
            代碼
        </th>
        <th>
            代碼名稱
        </th>
        <th>
            <button class="btn btn-success" ng-click="vm.detail()" data-toggle="modal" data-target="#detailModal">新增代碼</button>
        </th>
    </tr>
    <tbody ng-cloak>
        <tr data-ng-repeat="item in vm.details">
            <td>{{item.itemCode}}</td>
            <td>{{item.desc}}</td>
            <td>
                <button class="btn btn-info" ng-click="vm.detail(item)">編輯</button>
                <button class="btn btn-danger deleteBtn" ng-click="vm.deleteDetail(item)">刪除</button>
            </td>
        </tr>
    </tbody>
</table>