@model JagiWebSample.Areas.Admin.Models.DetailsViewModel

@{
    ViewBag.Title = "User Details: " + Model.DisplayName;
}

@{Html.RenderPartial("SaveSuccess");}
@{Html.RenderPartial("SaveWarning");}

<h2 class="mvcMembership">User Details: @Model.DisplayName [@Model.Status]</h2>

<ul class="mvcMembership-tabs">
    <li>@Html.ActionLink("Details", "Details", "User", new { id = Model.User.Id }, null)</li>
    <li>Password</li>
    <li>@Html.ActionLink("Roles", "UsersRoles", "User", new { id = Model.User.Id }, null)</li>
</ul>

<h3 class="mvcMembership">Password</h3>
<div class="mvcMembership-password">
    @using (Html.BeginForm("SetPassword", "User", new { id = Model.User.Id }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()
        <fieldset>
            <p>
                <label for="password">New Password:</label>
                @Html.TextBox("newPassword")
            </p>
            <input type="submit" value="Change Password" />
        </fieldset>
    }
</div>

